      <footer>
        <div class="row">
          <div class="col-sm-12">
            <div class="center">
              <a href="/terms.html" class="decoration-none">Terms of Service</a>&nbsp;&nbsp;
              <a href="/privacy-policy.html" class="decoration-none">Privacy Policy</a>&nbsp;&nbsp;
              <a href="/contact.html" class="decoration-none">Contact</a>
            </div>
          </div>
          </div>
        </div>
      </footer>
  </body>
</html>
