<%- include('./layout.html') -%>

<div class="container">
  <form>
    <div  id="rectangle" class="row">
      <div class="col-sm-12 center">
        <a href="/"><img src="/images/SearchOll.png" title="SearchOll" alt="SearchOll" width="180px"></a>
      </div>
      <div class="col-sm-12">
        <div class="button-group center">
          <input type="text" name="q" title="query" id="q" value="" class="searchInput" />
          <input type="submit" id="submit" class="primary" value="go"/>
        </div>
      </div>
    </div>
  </form>
</div>

<%- include('./footer.html') -%>
