<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" >

    <link rel="stylesheet" href="/css/mini.css">
    <link rel="stylesheet" href="/css/search.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <% if (typeof GoogleCodeSingleton !== 'undefined') { %>
      <%- GoogleCodeSingleton.getTabManager() %>
    <% } %>
  </head>
  <body>
    <% if (typeof GoogleCodeSingleton !== 'undefined') { %>
      <%- GoogleCodeSingleton.getTabManagerNoScript() %>
    <% } %>
