<%- include('./layout.html') -%>

<div class="container">
  <form>
    <div class="row">
        <div class="col-sm-12  col-md-2 center">
          <a href="/"><img src="/images/SearchOll.png" title="SearchOll" alt="SearchOll" width="150px"></a>
        </div>
        <div class="col-sm-12 col-md-8 col-sm-last">
          <div class="button-group">
            <input type="text" name="q" id="q"  title="query" value="<%= q %>" class="searchInput" />
            <input type="submit" id="submit" class="primary" value="go"/>
          </div>
        </div>
    </div>
  </form>
  <div class="row">
      <div class="col-sm-12 col-md-10 responsive-padding">

        <div class="row">
          <% if (jsonResponse.response.results.totalMatches && jsonResponse.response.results.totalMatches > 1){ %>
              <div class="col-sm-12 responsive-padding">
                <small>About <%= jsonResponse.response.results.totalMatches %> results.</small>
              </div>
          <% } %>

          <% if (jsonResponse.response.results.queryContext && jsonResponse.response.results.queryContext.alteredQuery && jsonResponse.response.results.queryContext.alteredQuery.length > 1){ %>
              <div class="col-sm-12 responsive-padding">
                <small>Presenting results for: <b><%= jsonResponse.response.results.queryContext.alteredQuery %></b></small><br/>
                <small>Search for: <b><a href="<%= jsonResponse.response.results.queryContext.overrideUrl %>"><%= jsonResponse.response.results.queryContext.originalQuery %></a></b> instead!</small>
              </div>
          <% } %>

          <% var type = '' %>
          <% jsonResponse.response.results.mainline.forEach(function(result){ %>
            <% if (type !== result.type.id) { %>
              <% if (type == 'video' || type == 'image') { %>
                </div>
              <% } %>
              <% if (type.length != 0) { %>
                </div>
              <% } %>

              <% type = result.type.id %>

              <% if (type !== 'webPage') { %>
                <div class="col-sm-12">
                  <h3><%= result.type.label %></h3>
                </div>
              <% } %>
              <div class="col-sm-12">
              <% if (type == 'image') { %>
                <div class="masonry <%= type %>">
              <% } %>
              <% if (type == 'video') { %>
                <div class="row">
              <% } %>
            <% } %>

            <% if (result.type.id == "webPage") { %>
                <div class="row responsive-padding">
                  <div class="col-sm-12">
                    <a href="<%= result.url %>" target="_blank" class="decoration-none">
                      <b><%= result.name %></b>
                    </a>
                  </div>
                  <div class="col-sm-12">
                    <small><%= result.snippet %></small>
                  </div>
                  <div class="col-sm-12">
                    <a href="<%= result.url %>" target="_blank">
                      <small><%= result.displayUrl %></small>
                    </a>
                  </div>
                </div>
            <% } %>
            <% if (result.type.id == "news") { %>
              <div class="row responsive-padding">
                <div class="col-sm-12 col-md-1 center">
                  <a href="<%= result.video_url %>" target="_blank" class="decoration-none">
                    <img src="<%= result.thumbnail.url %>" alt="<%= result.name %>" title="<%= result.name %>" class="center" >
                  </a>
                </div>
                <div class="col-sm-12 col-md-11">
                  <div class="row">
                    <div class="col-sm-12">
                      <a href="<%= result.url %>" target="_blank" class="decoration-none">
                        <b><%= result.name %></b>
                      </a>
                    </div>
                    <div class="col-sm-12">
                      <small><%= result.snippet %></small>
                    </div>
                    <div class="col-sm-12">
                      <a href="<%= result.video_url %>" target="_blank">
                        <small><%= result.video_url %></small>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>

            <% if (result.type.id == "image") { %>
              <div class="item">
                <a href="<%= result.image_url %>" target="_blank">
                  <img src="<%= result.thumbnail.url %>" title="<%= result.name %>" alt="<%= result.name %>" class="center">
                </a>
              </div>
            <% } %>
            <% if (result.type.id == "video") { %>
              <div class="card">
                <div class="section">
                  <div class="row">
                    <div class="col-sm-12">
                      <a href="<%= result.url %>" target="_blank" class="decoration-none">
                        <b><%= result.name %></b>
                      </a>
                    </div>
                    <div class="col-sm-12">
                      <a href="<%= result.video_url %>" target="_blank" class="decoration-none">
                        <img src="<%= result.thumbnail.url %>" title="<%= result.name %>" alt="<%= result.name %>" class="center" >
                      </a>
                    </div>
                    <div class="col-sm-12">
                      <p><%= result.snippet %></p>
                    </div>
                    <div class="col-sm-12">
                      <a href="<%= result.video_url %>" target="_blank">
                        <small><%= result.video_url %></small>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            <% } %>

          <% }); %>
          <% if (type == 'video' || type == 'image') { %>
            </div>
          <% } %>
          </div>

        </div>
      </div>
      <div class="col-sm-12 col-md-2">
        <div class="row">

          <% jsonResponse.response.results.sidebar.forEach(function(result){ %>
            <% if (type !== result.type.id) { %>
              <% type = result.type.id %>

                <div class="col-sm-12">
                  <h3><%= result.type.label %></h3>
                </div>

            <% } %>

            <% if (result.type.id == "relatedSearches") { %>
                <div class="col-sm-12">
                  <a href="<%= result.url %>" target="_self" class="decoration-none">
                    <small><%= result.displayText %></small>
                  </a>
                </div>
            <% } %>

          <% }); %>

        </div>
      </div>
    </div>

    <% if (pagination){ %>
      <div class="row">
        <div class="col-sm-12">

          <% if (pagination.previousPage !== null) { %>
            <b><a href="<%= jsonResponse.response.results.paginationBaseUrl + (pagination.previousPage * pagination.resultsNo) %>" target="_self" class="decoration-none">
              Preview
            </a></b>
          <% } %>
          <% for(i = pagination.firstPage; i <= pagination.lastPage; i++) { %>
            <% if (pagination.currentPage == i) { %>
              <b><%= pagination.currentPage +1 %></b>
            <% } else { %>
              <b><a href="<%= jsonResponse.response.results.paginationBaseUrl + (i * pagination.resultsNo) %>" target="_self" class="decoration-none">
                <%= (i + 1) %>
              </a></b>
            <% } %>

          <% } %>
          <% if (pagination.nextPage !== null) { %>
            <b><a href="<%= jsonResponse.response.results.paginationBaseUrl + (pagination.nextPage * pagination.resultsNo) %>" target="_self" class="decoration-none">
              Next
            </a></b>
          <% } %>
        </div>
      </div>
    <% } %>

</div>

<%- include('./footer.html') -%>
