.decoration-none {
  text-decoration: none;
}

.searchInput {
  font-size: 1.2em;
}
#rectangle{
  height: 25vh;
  margin: 30vh auto;
}

.center{
  text-align: center;
}

span.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}

@media only screen and (min-width: 768px) {
  .searchInput {
    width: 100%;
    font-size: 1.2em;
  }

  #rectangle{
    width: 40vw;
  }
}

/* mansony */

.masonry {
    margin: 0.5em;
    padding: 0;
    -moz-column-gap: .5em;
    -webkit-column-gap: .5em;
    column-gap: .5em;
    font-size: .85em;
}

.item {
    display: inline-block;
    background: #fff;
    padding: 0.2em;
    margin: 0.2em;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    /*box-shadow: 2px 2px 4px 0 #ccc;*/
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media only screen and (min-width: 1280px) {
    .image {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}

